<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tebak angka no 1 - 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Tembak Angka</ion-label>
    <ion-input [(ngModel)]="num"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="eye-outline"></ion-icon>
    <ion-button (click)="tebakangka()">Guess</ion-button>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="5">
        <img src='{{ "assets/" + tes + ".jpg"}}'><img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
